@charset "utf-8";

$purple: #8c67ef;

$tooltip-background-color: $purple;
$tooltip-background-opacity: 1;
$tooltip-max-width: 20rem;
$link: $purple;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-tooltip/dist/css/bulma-tooltip.sass";